<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:name=".OutlandApplication" android:label="OUTLAND" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:hasCode="true" android:requestLegacyExternalStorage="true">
        <activity android:name="com.outland.game.AndroidLauncher" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
